<h1>Merci de nous avoir fait confiance !</h1>
<p>Référence de votre commande: #{{reference}}</p>

<p>Vous pouvez dès à présent retrouver toutes les informations concernant votre commande à l'aide de la référence de celle-ci ou en passant par ce lien :</p>

<a href="http://localhost:3000/order/{{reference}}">Ma commande</a>

<p>Vous trouverez ci-joint la facture de votre commande.</p>

<h2>Merci de votre visite chez Lorr'N Tech</h2><br>
<h2>À bientôt !</h2><br><br>
<h3>L'équipe Lorr'N Tech</h3>
