<h1>Hey! We miss you!</h1>

<p>You have not played our quizzes for 1 month. Do not waste any more time and come back to have fun!</p>

<a href="{{ absolute_url(path('default')) }}"><h2>Come back !</h2></a>